<div class="row">
<div class="col-md-12">
    <form action="/products" method="POST">
      <label for="name">Name</label>
      <input id="name" name="name" type="text">
      <br>
      <label for="photo">Photo</label>
      <input id="photo" name="photo" type="text">
      <br>
      <label for="stock">Stock</label>
      <input id="stock" name="stock" type="text">
      <br>
      <br>
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      <a href="./products" class="btn btn-default btn-sm active" role="button">Cancel</a>
    </form>
  </div>
 </div>
 <br>
</div>
