.img-card img{
	width:100%;
	background: #FFF;
}

.img-card {
	max-height: 250px;
	overflow: hidden;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
	background: #0a8aa7;
	color: #FFF;
	overflow: hidden;
	
}

.text{
	padding-left: 10px;
	padding-bottom: 2px;
}
