.img-card img{
	width:100%;
}

.img-card {
	max-height: 250px;
	overflow: hidden;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

.text{
	padding-left: 10px;
	padding-bottom: 2px;
}
